{
  "presets": [
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-runtime", { "polyfill": false }]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
